/* Place custom css here */
body {
    font-family: "Playfair Display";
}

.back-to-top {
    font-family: "JetBrains Mono";
}

.breadcrumbs {
    font-family: "JetBrains Mono";
}

code {
    font-family: "JetBrains Mono";
}

footer a {
    font-family: "JetBrains Mono";

}

header a {
    font-family: "JetBrains Mono";
    font-size: small;
}

.line-date {
    font-family: "JetBrains Mono";
}

.monospace {
    font-family: "JetBrains Mono";
}

