@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
  --background: #ffffff;
  --foreground: #000000;
  --accent: #000000;
}

body {
  font-family: "JetBrains Mono";
}
